@page "/film/{Id:int}"
@using FrontEnd.Models
@inject HttpClient Http

<html lang=" nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@(Movie?.Title ?? "Film niet gevonden")</title>
    <link rel="stylesheet" href="/css/stylesheet.css" />
</head>
<body>
    <div class="container">
        <h1>@(Movie?.Title ?? "Film niet gevonden")</h1>

        <!--Picking up the details of the movie-->
        @if (Movie != null)
        {
            <img src="@Movie.PosterUrl" alt="@Movie.Title" width="300" />
            <p><strong>Beschrijving:</strong> <br />
                @Movie.Description</p>
            <p><strong>Genre:</strong> @Movie.Genre</p>
            <p><strong>Leeftijdsclassificatie:</strong> @Movie.AgeRating</p>
            <p><strong>Duur:</strong> @Movie.DurationMinutes minuten</p>
            <p><strong>Releasedatum:</strong> @(Movie.ReleaseDate?.ToString("dd-MM-yyyy") ?? "Onbekend")</p>

            <a href="/seat-selector/@Movie.Id">
                <button>Stoel selecteren</button>
            </a>
        }
        else
        {
            <p class="error-message">Ga terug naar de homepagina...</p>
            <a href="/">
                <button>Home</button>
            </a>
        }
    </div>

    @code {
        [Parameter] public int Id { get; set; }
        private Movie? Movie { get; set; }

        protected override async Task OnInitializedAsync()
        {
            try
            {
                Movie = await Http.GetFromJsonAsync<Movie>($"api/movies/{Id}");
            }
            catch (Exception)
            {
                Movie = null;
            }
        }
    }
</body>
</html>